.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.arena {
}

.modeControls {
  margin: 20px 60px;
}

.modeControls ul {
  list-style-type: none;
}

.arenaWrapper {
  width: 800px;
  height: 400px;
  margin: 20px 60px;
  border: 1px solid blue;
}

.arenaInternal {
  width: 800px;
  height: 400px;
  position: relative;
}

.arenaBackground {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.arenaCanvas {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 0, 0, .1);
}