.LocationEditor {
  display: flex;  
  align-items: center;
}

.LocationEditor-actions {
  display: block;
  align-items: center;
}

.LocationEditor ul {
  list-style: none;
}

.LocationEditor li {
  padding: 3px;
}