.RunEditor {
  align-items: center;
}

.RunEditor ul {
  list-style: none;
}

.RunEditor li {
  display: flex;  
  padding: 3px;
}

.start-select {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}