.RunEditor {
  align-items: center;
  font-size: 12pt;
}

.RunEditor ul {
  list-style: none;
}

.RunEditor li {
  display: flex;  
  padding: 3px;
}

.start-select {
  display: inline-block;
  margin-left: 5px;
}

.runnable-type-select {
  display: inline-block;
  margin-left: 5px;
}

.move-select {
  display: inline-block;
  margin-left: 5px;
}

.runSeconds {
  text-align: right;
}